name: Widget-server pipe ERC

on:
  push:
    branches:
      - 'main'
jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:

      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Configure node
        id: configure-node
        uses: actions/setup-node@v6
        with:
          node-version: 24
    
      - name: Install pnpm
        id: install-pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      
      - name: Install dependencies
        id: install-dependencies
        run: |
          pnpm install


      - name: Configure AWS Credentials
        id: configure_aws_credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{vars.AWS_REGION}}

      - name: Generete tag
        id: generate_tag
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT
      
      - name: Login to Amazon ECR
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push the image to AWS ECR
        id: build-push-image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{steps.login_ecr.outputs.registry}}/${{vars.ECR_REPOSITORY}}:${{ steps.generate_tag.outputs.sha }}

